<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Selenium Automation Suite">

<!--This suite include smoke test Cases-->

	<test name="API Smoke and Regression Test">
		<groups>
			<run>
				<include name="smoke" />
				<exclude name="api" />
			</run>
		</groups>
		<classes>
			<class name="testCases.TestNGGroups" />
		</classes>
	</test>
</suite>