<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Selenium Automation Suite" parallel="tests" thread-count="2">

<!--This suite include smoke test Cases-->

	<test name="API Smoke and Regression Test">
	<parameter name="browser" value="chrome"></parameter>
		<groups>
			<run>
				<include name="smoke" />
				<exclude name="api" />
			</run>
		</groups>
		<classes>
			<class name="testCases.FacebookLoginTest" />
		</classes>
	</test>
</suite>